<div class="container">
    <h1>Bienvenid@, {{loggedUser.username}}</h1>
    <hr>
    <p>Your bio:{{loggedUser.bio}}</p>
    <a href="/user/{{loggedUser._id}}/edit">Edit</a>
    <hr>

    <a href="/" class="btn btn-dark">Volver a inicio</a>
</div>